<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image:url('./images/BgImg.jpg'); background-size: 100%;">
    <%- include('partials/header') %>
    <div class="card" style="width: 30%; margin-left: 33%; margin-top:5%">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Photo"/>
        <div class="card-body">
          <h5 class="card-title">Chandupa Nadil Ranasinghe</h5>
          <p class="card-text">I am a student at Centennial college studying Software Engineering Technology</p>
        </div>
      </div>
    <%- include('partials/footer') %>

</body>
</html>