<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header') %>
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;
      margin-top: 200px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to my Personal Portfolio</h1>
          <h5 class="mb-3">My name is Chandupa, a Software Engineering student.<br>
        My mission is to some day help strengthen the world of cybersecurity</h5>
          <a class="btn btn-outline-light btn-lg" href="/about" role="button"
          >About me</a>
        </div>
      </div>
    </div>
  </div>
    <%- include('partials/footer') %>
    
</body>
</html>