<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="card text-center" style="width: 35%; margin-left: 32%; margin-top: 3%;">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">Developed an app that helps a user locate parking spots
            near them. The app will display whether the parking spot selected from a list will be paid or free, the distance from where the user is and the amount it would cost
         </p>
        </div>
      </div>
      <div class="card text-center" style="width: 35%; margin-left: 32%; margin-top: 3%;">
        <div class="card-body">
          <h5 class="card-title">Project 2</h5>
          <p class="card-text">Developed a mobile app for a college that helps the physically challenge to get around campus by being able to use their phones to request for help,
            have a map of the area and open automatic doors when the phone comes within proximity of a sensor.</p>
        </div>
      </div>
      <div class="card text-center" style="width: 35%; margin-left: 32%; margin-top: 3%;">
        <div class="card-body">
          <h5 class="card-title">Project 3</h5>
          <p class="card-text">Developed a Web application that allows people to post a job they could perform or search other users that could offers a job. This is somewhat
            similar to freelancing but the freelancer is able to post what he is proficient at and other users will be able to hire them based on the description.
          </p>
        </div>
      </div>
      
    <%- include('partials/footer') %>
</body>
</html>