<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body style="background-image:url('./images/BgImg.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
    <%- include('partials/header') %>
    <div style="text-align: center; padding-bottom: 0%; background-color: white;">
      <h1>Projects</h1>
    </div>
      <div class="container">
        <div class="row" style="width: 75%; margin-left: 12.5%; margin-top: 100px;">

            <div class="col-md-4" >
              <!-- Project 1 goes here -->
              <div class="card text-center" >
                <img src="./images/Project1.jpg" class="card-img-top" alt="Project 1 ref image" style="margin-bottom: 10%;">
                <div class="card-body fade-in-text">
                  <h5 class="card-title">Project 1</h5>
                  <p class="card-text">Developed an app called that helps a user locate parking spots
                    near them. The app will display whether the parking spot selected from a list will be paid or free, the distance from where the user is and the amount it would cost
                 </p>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
                <!-- Project 2 goes here -->
                <div class="card text-center">
                  <img src="./images/Project2.jpg" class="card-img-top" alt="Project 2 ref image">
                  <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">Developed a Web application that allows people to post a job they could perform or search other users that could offers a job. This is somewhat
                      similar to freelancing but the freelancer is able to post what he is proficient at and other users will be able to hire them based on the description.<br> 
                    </p>
                  </div>
                </div>
            </div>
            
            <div class="col-md-4">
              <!-- Project 3 goes here -->
              <div class="card text-center">
                <img src="./images/Project3.jpg" class="card-img-top" alt="Project 3 ref image" style="margin-bottom: 3%;">
                <div class="card-body">
                  <h5 class="card-title">Project 3</h5>
                  <p class="card-text">Developed a mobile app for a college that helps the physically challenge to get around campus by being able to use their phones to request for help,
                    have a map of the area and open automatic doors when the phone comes within proximity of a sensor.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>