<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body style="background-image:url('./images/BgImg.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
    <%- include('partials/header') %>
    <div style="text-align: center; padding-bottom: 0%; background-color: white;">
      <h1>Projects</h1>
    </div>
    
</body>
</html>